/* custome testimonials style*/
.testimonial-text{text-align:center;font-family: inherit;font-size: 13px;}
.testimonialimg{margin: auto;float: none;}
.fancyboxcont{display:none;}
.fancybox-opened{width: 60% !important;}
.fancybox-inner{width:100% !important;}
.fancybox-opened .fancybox-skin {padding:0px !important;}
.popupmailtxtcont img {float: left; padding: 0 25px 10px 0;}
.popupmailtxtcont h1 {font-size: 25px;margin: 15px 0 5px;}
.popupmailtxtcont h2 {font-size: 20px;}
.popupmailtxtcont{line-height: 25px;padding-left: 30px !important;padding-right: 30px !important;padding-bottom: 20px;padding-top: 25px;text-align: justify;font-family: "gentona","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 16px; color: #000;}
/*.popuptitlemaincont{background-color:#F5F2F2;}*/
.speaker-tab {display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;background-color: #ffffff;}
.speakerbox{min-height: 280px;padding: 10px;width: 300px;margin:0 10px;}
.speakerbox:hover {background-color: #f6f6f6}
.speakerbox a, .speakerbox a:hover {text-decoration: none !important;color: #000;}
.speakerbox h1 {margin: 0 0 15px; letter-spacing: 0;line-height: 16px;text-align: center;font-family: "gentona","Helvetica Neue",Helvetica,Arial,sans-serif;}
.speakerbox h1 a {font-size: 20px;font-weight: 600;color:#00529b;}
.speakerbox p {margin-bottom: 0 !important;font-size: 14px;text-align: center;}
.testimonial-text a:focus {outline: none;}
.fancyboxcont {padding: 0px;width: 75%;}
@media(max-width:488px){.speaker-tab {max-height: 880px; overflow:scroll;}}
@media(max-width:767px){/*.testimonialpopupimg {float: none; padding-left: 0px;margin: auto;}*/.fancybox-opened {width: 85% !important;left: 7% !important;}}